body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff; 
    background-image: url('https://images.pexels.com/photos/5473950/pexels-photo-5473950.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 90%; 
    max-width: 600px; 
    min-height: 400px; 
}

h1 {
    color: #ec1010; 
}
.nav {
    margin-bottom: 20px;
}

.nav-link {
    color: #ccc; 
    background-color: #333; 
    border-radius: 5px;
    margin-right: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: #fff;
    background-color: #e9164e; 
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ec1010; 
    background-color: #222; 
    color: #ddd; 
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #de0f0f; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #ec1010; 
}

@media (max-width: 768px) {
    .nav-link {
        padding: 10px;
        font-size: 14px;
    }
}

.active {
    background-color: #ec1010 !important; 
    color: white !important;
}

.reported-ips-container {
    position: absolute;
    bottom: 0;
    width: 90%;
}
.check-ip-tab, .report-ip-tab {
    background-color: #de0f0f; 
    color: #fff;
}

.check-ip-tab:hover, .report-ip-tab:hover,
.check-ip-tab.active, .report-ip-tab.active {
    background-color: #ec1010; 
}