body {
    font-family: Arial, sans-serif;
    background-color: #d423a5;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

#UserInfo {
    background-color: #e83e8c;
    color: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: none; /* Hide initially */
}

label {
    color: #333;
    font-weight: bold;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Adjust the margin between form fields */
form br {
    display: none;
}
